@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400;700;900&display=swap%27');
$color:(purple :#594cda,
pink: #eb427d);
@mixin download-btn-layout($background-color){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $background-color;
    width: 200px;
    border-radius: 30px;
    height: 70px;
    padding: 5px;
    margin-bottom:20px; 
}
@mixin display-flex($flex-direction,$justify-content,$align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items:$align-items;
}
@media screen and (max-width: 810px) {
    * {
        box-sizing: border-box;
        
      }
    
    .main-container{
        font-family: "Roboto", sans-serif;
        width: 100vw;
        @include display-flex(column, center, center);
        .menu {
            background-color: #f0fafc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 11px;
            width: 100vw;
            padding-right: 10vw;
      
            .logo {
              width: 200px;
              height: auto;
            }
    
      
          }
      
          .sec_head {
            background-color: #cbebf8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 35px;
        
            width: inherit;
            &.sec_head_white{
              background-color: white;
            }
            h1 {
             font-weight: 700;
             font-size: 52px;
             text-align: center;
             margin-top: 60px;
            }
    
            p {
             color: #7e8b92;
             text-align: center;
             margin-top: 20px;
             line-height: 26px;
             font-size: 21px;
             margin-bottom: 30px;
            }
    
            button {
             display: flex;
             align-items: center;
             padding: 10px 30px;
             border-radius: 20px;
             border: none;
             color: white;
             background-color: black;}
            #sec_head_img{
                width: inherit;
              }
                      /*.fa {
               font-size: 18px;
             }
    
             .fa,.fab {
               padding-right: 10px;
             }*/
            
            
           
            
          }
        .tools-section{
       
            .tool-container{
                width: 80vw;
                border-radius: 10px;
                background-color: #caebf8;
                @include display-flex(column, space-between, center);
                padding: 10px;
                padding-top: 45px;
                margin-bottom: 25px;
             
                .features-icon{
                    width: 60px;
                    height: auto;
                    
                }
                .tool-title{
                    font-size: 20px;
                    text-align: center;
                  }
                  .tool-desc{
                      color: #6c757c;
                      text-align: center;
                      font-size: 17px;
                  }
            }
    
        }
        .details-section{
          
      
            padding-left: 20px;
            .details-text-container{
                   width: 87vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;

    margin-bottom: 30px;
                .details-title{
                    font-size: 30px;
                     margin-bottom: 20px;
                }
         
                .details-text{
                    color: #6c757c;
                    font-size: 20px;
                }
            }
     
            .details-images-container{
              padding-left: inherit;
              
               .detail-img{

                margin-bottom: 30px;
                width: 80vw;
     
               }
    
            }
    
        }
        .conclusion-section{
            @include display-flex(column, none, center);
            .conclusion-smartphone-img{
                width: 90vw;
            }
            .download-text{
                font-size: 31px;
                text-align: center;
                margin: 20px;
            }
            .download-btns{
                
                .download-btn{
                   &.apple-download-btn{
                    @include download-btn-layout(#594cda);
                    
                   }
                   &.google-download-btn{
                    @include download-btn-layout(#eb427d);

                   }
                    .apple-logo{
                        width: 28px;
                        height: 28px;
                        padding-bottom: 7px;

                    }
                    .apple-download-text{
                        font-size: 28px;
                        font-weight: bold;
                        color: white;
                    }

                }
            }
        }
        .listefleche {
          width: 87vw;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
      
            h2 {
              font-size: 30px;
             
            }
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
            ul {
         
                list-style-image: url(../assets/images/right-arrow.png);
                li {
                  margin-left: -20px;
                  margin-top: 10px;
                }
                margin-left: 2.5vw;
              }
            .formu {
              padding-right: 127px;
                  display: flex;
              .button {
                padding: 15px 30px;
                margin-right: 10px;
                border-radius: 50px;
                border: solid 1px;
                background-color: white;
                align-self: flex-start;
              }
              #butviolet {
                background-color: #594cda;
                border: none;
              }
            }
          }
          .text {
            width: 87vw;
            h2 {
              text-align: left;
            }
            p {
              text-align: left;
            }
          }
          .text{
            padding: 10px;
          }
          .imgchiffre {
            text-align: center;
            .image {
              display: flex;
              flex-direction: column;
              text-align: center;
              justify-content: center;
              align-self: center;
              align-items: center;
              padding-bottom: 10px;
              img {
                max-width: 100vw;
                margin-left: -8vw;
              }
            }
            .chiffre {
              align-self: flex-start;
              justify-content: center;
              width: inherit;
              justify-content: space-evenly;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
      
              .ch {
                color: black;
                width: 43vw;
                .ch2 {
                  font-size: 3rem;
                  font-weight: 600;
                }
                .ch3 {
                  font-size: 1.5rem;
                  margin-top: -60px;
                }
              }
              @media only screen and (min-width: 551px) {
              }
              @media only screen and (min-width: 718px) {
              }
            }
          }
          .review {
            background-color: #f0fafc;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
              font-size: 41px;
              text-align: center;
              padding: 10px;    margin-bottom: 15px;
            
              
            }
            p{
              width: 87vw;
              text-align: center;
            }
            figure {
              
              #circle {
                border-radius: 100%;
                width: 100px;
              }
            }
            .important {
              color: black;
              font-weight: bold;
            }
          }
          .pricing {
            background-color: #43484e;
            color: white;
            padding: 90px 25px 40px 25px;
            padding-left: 42px;
            padding-right: 42px;
            h2 {
              color: white;
            }
          }
          .price {
            background-color: #43484e;
            padding-bottom: 302px;
            width: inherit;
            display: flex;
            padding: 5px 25px 40px 20px;
            flex-direction: column;
            align-items: center;
            h2 {
              color: #eb427d;
            }
            .card{            
              border: gray double 2px;
              padding: 50px 25px 0px 15px;
              margin-bottom: 120px;
              background-color: white;
              border-radius: 10px;
              width: 80vw;
              .flexi {
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                align-self: center;
                align-items: center;
              }
              h3 {
                font-size: 2.5rem;
                color: #eb427d;
              }
              .dollars {
                font-size: 3.5rem;
                color: black;
              }
              .big {
                font-size: 8rem;
                color: black;
                font-weight: 500;
              }
              .btviolet {
                background-color: #594cda;
                border: none;
                font-size: 2rem;
                border-radius: 50px;
                padding: 20px 65px;
                color: white;
                position: relative;
                top: 5vh;
              }

            }
           
            
          }
        .footer{
            padding-top: 60px;
            background-color: rgb(203, 235, 248);
            padding-bottom: 20px;
            .footer-text{
                text-align: center;
                padding: 10px;
                .email-address{
                    color: #594cda;
                }
            }
            .social-media{
              padding: 32px;
                @include display-flex(row, space-evenly, center);

            }
            .footer-end{
                @include display-flex(row, space-around, flex-end);
                .policy-links{
                    @include display-flex(column, space-between, center);
                    display: flex;
                    padding-left: 24vw;
                    height: 110px;
                    width: max-content;
                    a{
                        text-decoration: none;
                        color: #6c757c;
                        font-size: 17px;

                    }
                }
                .up-arrow-btn{
                    @include display-flex(column, space-around, center);
                    width: 12vw;
                    height: 12vw;
                    border-radius: 50%;
                    background-color: #4f5d68;
                
                    img{
                        width: 28px;
                        height: auto;
                    }
                }
            }
        }
        .conclusion-background img{

            width: 100vw;
        }
    }
 
}
