@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400;700;900&display=swap%27');

@media screen and (max-width: 810px) and (min-width:360px){
    
    .main-container{
        font-family: "Roboto", sans-serif;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .tools-section{
       
            .tool-container{
                width: 80vw;
                border-radius: 10px;
                display: flex;
                background-color: #caebf8;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                /* height: fit-content; */
                padding: 10px;
                padding-top: 45px;
                /* margin: 25px; */
                margin-bottom: 25px;
             
                .features-icon{
                    width: 60px;
                    height: auto;
                    
                }
                .tool-title{
                    font-size: 20px;
                    text-align: center;
                  }
                  .tool-desc{
                      color: #6c757c;
                      text-align: center;
                      font-size: 15px;
                  }
            }
    
        }
        .details-section{
          
      
            padding-left: 20px;
            .details-text-container{
                padding-left: inherit;
                width: 80vw;
                .details-title{
                    font-size: 30px;
                    margin-bottom: 0px;
                }
         
                .details-text{
                    color: #6c757c;
                    font-size: 15px;
                }
            }
     
            .details-images-container{
              padding-left: inherit;
              
               .detail-img{

                margin-bottom: 30px;
                width: 80vw;
     
               }
    
            }
    
        }
        .conclusion-section{
            display: flex;
            align-items: center;
            flex-direction: column;
            .conclusion-smartphone-img{
                width: 90vw;
            }
            .download-text{
                font-size: 32px;
                text-align: center;
            }
            .download-btn{
                .apple-download-btn{
                    display: flex;
                    background-color: #594cda;
                    width: 200px;
                    border-radius: 30px;
                    height: 70px;
                    justify-content: space-evenly;
                    padding: 5px;
                    .apple-logo{
                        width: 28px;
                        height: 28px;
                        padding-top: 25px;

                    }
                    .apple-download-text{
                        font-size: 28px;
                        font-weight: bold;
                        color: white;
                    }

                }
            }
        }
    }
 
}
