@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400;700;900&display=swap%27');
$color:(purple :#594cda,
pink: #eb427d);
@mixin download-btn-layout($background-color){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $background-color;
    width: 200px;
    border-radius: 30px;
    height: 70px;
    padding: 5px;
    margin-bottom:20px; 
}
@mixin display-flex($flex-direction,$justify-content,$align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items:$align-items;
}
@media screen and (max-width: 810px) {
        .menu {
        background-color: #f0fafc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px;
  
        .logo {
          width: 200px;
          height: auto;
        }

  
      }
  
      .sec_head {
        background-color: #cbebf8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px;
        margin-bottom: 55px;

        h1 {
         font-weight: 700;
         font-size: 60px;
         text-align: center;
         margin-top: 60px;
        }

        p {
         color: #7e8b92;
         text-align: center;
         margin-top: 20px;
         line-height: 26px;
         font-size: 21px;
         margin-bottom: 30px;
        }

        button {
         display: flex;
         align-items: center;
         padding: 10px 30px;
         border-radius: 20px;
         border: none;
         color: white;
         background-color: black;

         /*.fa {
           font-size: 18px;
         }

         .fa,.fab {
           padding-right: 10px;
         }*/
        }
        
       
        
      }
    .main-container{
        font-family: "Roboto", sans-serif;
        width: 100vw;
        @include display-flex(column, none, center);

        .tools-section{
       
            .tool-container{
                width: 80vw;
                border-radius: 10px;
                background-color: #caebf8;
                @include display-flex(column, space-between, center);
                padding: 10px;
                padding-top: 45px;
                margin-bottom: 25px;
             
                .features-icon{
                    width: 60px;
                    height: auto;
                    
                }
                .tool-title{
                    font-size: 20px;
                    text-align: center;
                  }
                  .tool-desc{
                      color: #6c757c;
                      text-align: center;
                      font-size: 17px;
                  }
            }
    
        }
        .details-section{
          
      
            padding-left: 20px;
            .details-text-container{
                padding-left: 6vw;
                width: 80vw;
                .details-title{
                    font-size: 30px;
                    margin-bottom: 0px;
                }
         
                .details-text{
                    color: #6c757c;
                    font-size: 20px;
                }
            }
     
            .details-images-container{
              padding-left: inherit;
              
               .detail-img{

                margin-bottom: 30px;
                width: 80vw;
     
               }
    
            }
    
        }
        .conclusion-section{
            @include display-flex(column, none, center);
            .conclusion-smartphone-img{
                width: 90vw;
            }
            .download-text{
                font-size: 31px;
                text-align: center;
                margin: 20px;
            }
            .download-btns{
                
                .download-btn{
                   &.apple-download-btn{
                    @include download-btn-layout(#594cda);
                    
                   }
                   &.google-download-btn{
                    @include download-btn-layout(#eb427d);

                   }
                    .apple-logo{
                        width: 28px;
                        height: 28px;
                        padding-bottom: 7px;

                    }
                    .apple-download-text{
                        font-size: 28px;
                        font-weight: bold;
                        color: white;
                    }

                }
            }
        }
        .footer{
            padding-top: 60px;
            background-color: rgb(203, 235, 248);
            padding-bottom: 20px;
            .footer-text{
                text-align: center;
                padding: 10px;
                .email-address{
                    color: #594cda;
                }
            }
            .social-media{
                @include display-flex(row, space-evenly, center);

            }
            .footer-end{
                @include display-flex(row, space-around, flex-end);
                .policy-links{
                    @include display-flex(column, space-between, center);
                    display: flex;
                    padding-left: 24vw;
                    height: 110px;
                    width: max-content;
                    a{
                        text-decoration: none;
                        color: #6c757c;
                        font-size: 17px;

                    }
                }
                .up-arrow-btn{
                    @include display-flex(column, space-around, center);
                    width: 12vw;
                    height: 12vw;
                    border-radius: 50%;
                    background-color: #4f5d68;
                
                    img{
                        width: 28px;
                        height: auto;
                    }
                }
            }
        }
        .conclusion-background img{

            width: 100vw;
        }
    }
 
}
